.center {
    margin: auto;
    width: 60%;
}

.center img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 35%;
}

.center * {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
}