<h1 style="text-align: center">Login to enjoy with heroes</h1>
<div>
  <div class="center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Boku_no_Hero_Academia_Logo.png">
    <input #username type="text" placeholder="username">
    <input #password type="password" placeholder="password">
    <div>
      <input type="submit" value="Login" (click)="tryLogin(username.value, password.value)">
      <input type="submit" value="Reset">
    </div>
  </div>
</div>