<h1> {{title}} </h1>
<nav *ngIf="loginService.isLogged()">
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>