<div id="search-component">
  <h4>Hero Search</h4>

  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />

  <ul class="search-result">
    <!-- il $ dopo heroes indica che heroes non e' un array, ma un Observable -->
    <!-- async, invece, serve a sottoscrivere all'observable in automatico, poiche' ngFor non puo' far nulla con gli observables -->
    <li *ngFor="let hero of heroes$ | async">
      <a routerLink="/detail/{{hero.id}}">
        {{hero.name}}
      </a>
    </li>
  </ul>
</div>